body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
 
}
header::before{
background: url(https://source.unsplash.com/user/erondu);
content: "";
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
top: 0;
left: 0;
opacity:0.4;
}
.navigation{
    font-size: 15px;
    display: flex;
    
}
li{
    list-style: none;
    padding: 15px 10px;
}
section{
    height: 344px;
    text-align: center;
    margin: 3px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 4rem;
}
/* section:after{
    content:"this is content"
} */
p{
    text-align: center;
}