.container {
    width: 50rem;
    height: 45rem;
    border: 3px solid black;
    margin: auto;
    background-color:darkturquoise;
    
}
h1{
   text-align: center;
}
.item {
   
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  background-color: rgb(135, 111, 216);
}
body{
    font-family: cursive;
}
#fruit{
    float:left;
    width: 90%;
}
#chochlate{
  float: right;
  width: 50%;
}
#vegetable{
    /* float: right; */
    width: 90%;
    clear: both;
}